<?xml version="1.0" encoding="utf-8"?>
<widget id="com.kindleopds.library" version="0.2.2" viewmodes="application" xmlns="http://www.w3.org/ns/widgets" xmlns:kindle="http://kindle.amazon.com/ns/widget-extensions">
  <name xml:lang="en">OPDS Library</name>
  <description xml:lang="en">OPDS catalog browser for native Kindle books</description>
  <content src="index.html" />
  <kindle:permissions><kindle:permission name="local-port-access" /></kindle:permissions>
  <kindle:chrome><kindle:asset key="configureSearchBar" value="system" /></kindle:chrome>
  <kindle:network>
    <kindle:asset key="initialDNS" value="false" />
    <kindle:asset key="enableCaching" value="false" />
    <kindle:asset key="overrideProxy" value="none" />
  </kindle:network>
  <kindle:gestures><kindle:param name="tap" value="yes" properties="fire_on_tap:1 max_updown_delta:0" /><kindle:param name="swipe" value="yes" /></kindle:gestures>
  <feature name="http://kindle.amazon.com/apis" required="true">
    <param name="appmgr" value="yes" /><param name="net" value="yes" />
    <param name="gestures" value="yes" />
    <param name="chrome" value="yes" /><param name="messaging" value="yes" />
  </feature>
  <kindle:messaging><kindle:app name="com.lab126.pillow" value="yes" /><kindle:app name="com.lab126.chromebar" value="yes" /></kindle:messaging>
  <kindle:resources><kindle:asset key="AllowHTTPSApplicationManifestCrossDomain" value="true" /></kindle:resources>
  <kindle:settings><kindle:setting name="internetRequired" value="no" /><kindle:setting name="saveContext" value="no" /></kindle:settings>
</widget>
